#Use neondb online postegresql database for data storage

DB_HOST=#host details present in connection string
DB_PORT=#port number
DB_NAME=#Database pot
DB_USER=#user name
DB_PASSWORD=#password present in neondb connection string
BATCH_SIZE=#Batch size 